---
import { FIGHTERS } from "../consts/fighters";
import BoxerCard from "./BoxerCard.astro";

const firstRowLeft = FIGHTERS.slice(0, 3);
const firstRowRight = FIGHTERS.slice(3, 6);

const SecondRowLeft = FIGHTERS.slice(6, 10);
const SecondRowRight = FIGHTERS.slice(10);
---

<section class="relative flex min-h-screen justify-center w-full" id="hero">
  <div class="bg-[url('/images/hero.avif')] fetchpriority-hight bg-cover bg-center w-full mask-fade-bottom absolute inset-0"></div>

  <div class="absolute mt-24 z-10 w-full transparent flex justify-center items-center top-12">
    <p class="font-bold text-white/50 italic">
      Esta es una copia no oficial de la Página de la Velada V hecha a modo de
      practica.
    </p>
  </div>

  <div class="relative flex flex-col items-center justify-end p-y-8 w-full">
    <div
      id="landing"
      class="absolute inset-0 flex flex-col items-center justify-center w-full text-center"
    >
      <h3
        class="font-light text-xl text-dark-magenta py-2 leading-[100%]"
      >
        <strong>26</strong> DE<br /><strong>JULIO</strong>
      </h3>
      <div class="relative flex animate-fade-in">
        <img
          aria-label="Logo de La Velada del Año V"
          class="w-64 h-64 object-cover z-10"
          src="/images/logo.avif"
          alt="La Velada del año V"
          fetchpriority="high"
        />
      </div>

      <h3
        class="font-light text-theme-seashell leading-5 mt-2 animate-fade-in animate-delay-200"
      >
        ESTADIO<br />LA CARTUJA<br /><strong>SEVILLA</strong>
      </h3>

      <div
        class="font-light text-theme-raisin-black leading-5 my-3! animate-fade-in animate-delay-300"
      >
        <a
          href="https://twitch.tv/ibai"
          rel="noopener noreferrer"
          target="_blank"
          class="inline transition hover:scale-125"
          title="Twitch de Ibai Llanos"
        >
          TWITCH.TV<br /><strong>IBAI</strong>
        </a>
        <span class="sr-only">Icono de la velada V</span>
      </div>

    </div>

    <div
      id="fighter-container"
      class="w-full pointer-events-none absolute inset-0 flex flex-col justify-center items-center mb-10!"
    >
      <div
        class="relative top-20 mx-auto h-20 flex w-[80%] md:w-full items-center justify-center z-20"
      >
        <!-- Nombre del Boxeador -->
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              fetchpriority="high"
              aria-label={`Nombre de ${name}`}
              data-id={`hero-text-${id}`}
              src={`/images/fighters/text/${id}.webp`}
              alt={"Nombre de " + name}
              class="h-full max-w-[380px] w-auto absolute hidden"
            />
          ))
        }
      </div>

      <div
        class="mask-fade-bottom relative mx-auto h-[70vh] flex w-[70%] items-center justify-center z-20"
      >
        <!-- Imagen del Boxeador -->
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              aria-label={`Nombre de ${name}`}
              transition:name={`image-${id}`}
              data-id={`hero-image-${id}`}
              src={`/images/fighters/big/${id}.webp`}
              alt={"Imagen de " + name}
              fetchpriority="high"
              class="w-[350px] h-[90%] absolute hidden items-center"
            />
          ))
        }
      </div>
    </div>

    <div
      class="relative !bottom-10 flex flex-wrap justify-around w-full max-w-[1100px] gap-y-6 gap-x-24 mb-6 z-30"
    >
      <!-- FISRT ROW -->

      <!-- LEFT -->
      <div class="flex flex-wrap gap-x-2 md:gap-x-3 m-x-auto transform skew-2">
        {firstRowLeft.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>

      <!-- RIGHT -->
      <div class="flex flex-wrap gap-x-2 md:gap-x-3 m-x-auto transform -skew-2">
        {firstRowRight.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>

      <!-- SECOND ROW -->
      <div class="flex flex-wrap justify-around w-[1000px] mb-4 z-10">
        <div
          class="flex flex-wrap gap-x-2 md:gap-x-4 m-x-auto transform skew-2"
        >
          {
            SecondRowLeft.map(({ id, name }) => (
              <BoxerCard id={id} name={name} />
            ))
          }
        </div>

        <div
          class="flex flex-wrap gap-x-2 md:gap-x-3 m-x-auto transform -skew-2"
        >
          {
            SecondRowRight.map(({ id, name }) => (
              <BoxerCard id={id} name={name} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SCRIPT FOR VISIBILITY OF FIGHTERS -->
<script>
  import { $ } from "@/lib/dom-selector";

  document.addEventListener("astro:page-load", () => {
    const $landing = $("#landing");

    let currentFighterId: string | null = null;

    document.addEventListener("boxer-card-hovered", (event: Event) => {
      const customEvent = event as CustomEvent<{ id: string }>;
      const id = customEvent.detail.id;

      // Si seldeccionas un luchador primero borras el boxeador que se muestra
      if (currentFighterId) {
        $(`[data-id=hero-text-${currentFighterId}]`)?.classList.add("hidden");
        $(`[data-id=hero-image-${currentFighterId}]`)?.classList.add("hidden");
      }

      currentFighterId = id;
      // ...para luego mostrar el boxeador seleccionado
      $landing?.classList.add("hidden");
      $(`[data-id="hero-text-${currentFighterId}"]`)?.classList.remove(
        "hidden");
      $(`[data-id="hero-image-${currentFighterId}"]`)?.classList.remove(
        "hidden");
    });

    document.addEventListener("boxer-card-deselected", (event: Event) => {
      const customEvent = event as CustomEvent<{ id: string }>;
      const id = customEvent.detail.id;

      // Si seldeccionas un luchador primero borras el boxeador que se muestra
      if (currentFighterId) {
        $landing?.classList.remove("hidden");
        $(`[data-id=hero-text-${currentFighterId}]`)?.classList.add("hidden");
        $(`[data-id=hero-image-${currentFighterId}]`)?.classList.add("hidden");
      }
      currentFighterId = null;
    });
  });
</script>
